# Case Study on Testing of Hypothesis
    A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.
● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [5]:
salesdata='Sales_add.csv'
df=pd.read_csv(salesdata)
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [9]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [6]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

INFERENCE:The data has 22 entries with 22 rows and 5 columns giving details of sales before digital add
          and after digital add in three regions.
          Maximum sales is reported after digital add.

# The company wishes to clarify whether there is any increase in sales  after stepping into digital marketing.

In [ ]:
SAMPLE SIZE LESS THAN 30.TAKING A 2SAMPLE 1 TAILED T TEST
NULL HYPOTHESIS:SALES BEFORE ADD =SALES AFTER ADD
ALTERNATE HYPOTHESIS:SALES BEFORE ADD >SALES AFTER ADD
ALPHA=0.05

In [7]:
before_add= df["Sales_before_digital_add(in $)"]
after_add = df["Sales_After_digital_add(in $)"]
from scipy.stats import ttest_ind
ttest_ind(before_add,after_add)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

INFERENCE:1)p value less than 0.05.Hence reject null hypothesis
          2)alternate hypothesis holds true
          3)There is an increase in sales after stepping into digital marketing.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [12]:
df['Region'].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [13]:
df['Manager'].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [43]:
crosstab=pd.crosstab(df.Region,df.Manager)
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [44]:
#percentage of manager(A,B,C) in region(1,2,3)
percentage = pd.crosstab(df['Region'], df['Manager'], normalize='index')
percentage

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A     0.400000     0.300000     0.300000
Region - B     0.571429     0.142857     0.285714
Region - C     0.200000     0.600000     0.200000

FOR CHI-SQUARE TEST OF INDEPENDENCE
Null hypothesis:the features region and manager are independent.
Alternate hypothesis:the features region and manager are not independent.
level of significance=0.05

In [47]:
# Chi-square test of independence.
from scipy.stats import chi2_contingency
c, p, dof, expected = chi2_contingency(crosstab)
print('chi square statistic:',c)
print('pvalue:',p)
print('degrees of freedom:',dof)

chi square statistic: 3.050566893424036
pvalue: 0.5493991051158094
degrees of freedom: 4

In [ ]:
INFERENCE:1)p value greater than 0.05,so we cannot reject null hypothesis.
          2)hence the variables region and manager are independent
          3)No relationship between region and manager of company.
          4)also critical value for degree of freedom=4 and level of significance =0.05 is 9.488.
          5)chi square statistic less than critical value,so we cannot reject null hypothesis.
          6)So the features region and manager are independent.